.App {
  background-color: white;
  margin: 0 auto;
  width: 65rem;
  margin-top: 4rem;
  padding: 0.5rem 0 1.5rem;
}

.row {
  margin: 0 2rem;
}

.resultSection {
    border-radius: 13px;
  height: 100%;
    background-color: darkcyan;
}


.resultSection .row {
    padding: 1rem;
}

.total {
    font-size: 3rem;
    color: cyan;
}

.total-label {
    font-size: 1.25rem;
    align-self: center;
    color: white;
}

.resultSection button {
 width: 80%;
  height: 3rem;
 margin: 2rem;
  border-color: transparent;
  border-radius: 5px;
  background-color: cyan;
    font-weight: 700;
}

h1 {
  padding: 1.5rem;
    text-align: center;
}

input {
  text-align: right;
}

.tip-select label {
    text-align: left;
}

.tip-select button {
    background-color: darkcyan;
}

.tip-select button:hover{
    background-color: cyan;
    color: black;
}
